<div class='body_chat'>
  <h1 id='titleChat'>FEEL ALONE</h1>
  <h4 id='name'></h4>

  <form action='' id='form'>
    <input type='text' name='message' id='message' placeholder='Escribe un mensaje' />
    <button type='submit' id='sendMessage'>Sends</button>
  </form>

  <div id='chat'></div>

</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/chat.js'></script>