<form action='/api/users/{{id}}/documents' method='post' enctype='multipart/form-data'>
  Identificacion:
  <input type='file' name='id' id='id' />
  Comprobante de Direccion:
  <input type='file' name='address' id='address' />
  Comprobante de Estado de Cuenta:
  <input type='file' name='bank' id='bank' />

  <input type='submit' value='Enviar' />
</form>