@import './styles.css';

.auth-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.auth-main-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--constrast-color);
  border: 1px solid var(--details-color);
}

.auth-container {
  border: 1px solid var(--details-color);
  padding: 2rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 50%;
}

.auth-container > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-input-component {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.auth-input-label {
  color: var(--constrast-color);
  padding: 0px 8px;
}

.auth-input-text {
  padding: 10px 20px;
  background: transparent;
  color: var(--constrast-color);
  border: 1px solid var(--details-color);
  border-radius: 8px;
  width: 100%;
}

.auth-btn {
  background: var(--constrast-color);
  border: 1px solid var(--details-color);
  border-radius: 8px;
  padding: 10px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: var(--primary-color);
  color: var(--constrast-color);
}

.auth-btn:disabled {
  background-color: var(--details-color);
  color: var(--constrast-color);
  cursor: not-allowed;
}

.negative-btn {
  background: var(--primary-color);
  color: var(--constrast-color);
}

.negative-btn:hover {
  background-color: var(--constrast-color);
  color: var(--primary-color);
}

.auth-form-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.auth-form-footer > a {
  color: var(--foreground-color);
  text-decoration: none;
  font-size: 12px;
  padding: 2px 8px;
}

.auth-form-footer > a:hover {
  color: var(--constrast-color);
  text-decoration: none;
  background-color: var(--details-color);
  border-radius: 5px;
}

.auth-cta-component {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.auth-side-panel {
  background: var(--secondary-color);
  border: 1px solid var(--details-color);
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 2rem 3rem;
  color: var(--foreground-color);
}

.auth-dumb-quote {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}

.auth-dumb-quote > span {
  font-size: 14px;
}

.auth-subtitle {
  font-size: 15px;
  color: var(--foreground-color);
  text-align: center;
}

.auth-error-component {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.auth-error-msg {
  background: var(--error-color);
  padding: 8px;
  border-radius: 8px;
  color: var(--contrast-color);
}

.signup-component {
  flex-direction: row;
  gap: 12px;
}
