@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import './auth.css';
@import './header.css';
@import './home.css';
@import './cart.css';
@import './purchase.css';
@import './ticket.css';
@import './ui.css';
@import './visual-components.css';
@import '../toastify/toastify.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-color);
  color: var(--constrast-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-font {
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.main-font-bold {
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.transition {
  transition: all 200ms;
}

/* * {
  scrollbar-width: thin;
  scrollbar-color: #2c2c32 #0a0b0b;
} */

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--primary-color);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--primary-color);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--details-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--constrast-color);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--constrast-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

:root {
  --primary-color: #09090b;
  --secondary-color: #18181b;
  --constrast-color: #fafafa;
  --details-color: #2c2c32;
  --foreground-color: #98989b;
  --error-color: #ff00002e;
}
