@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import './login.css';
@import './visual-components.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-color);
}

.jost-font {
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.jost-font-bold {
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

:root {
  --primary-color: #09090b;
  --secondary-color: #18181b;
  --constrast-color: #fafafa;
  --details-color: #2c2c32;
  --foreground-color: #98989b;
}
