.ticket-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.ticket-home-btn {
  background: transparent;
  color: var(--constrast-color);
  border: 0;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.ticket-home-btn:hover {
  background: var(--details-color);
}

.ticket-component {
  flex: 1;
}

.ticket-title {
  padding-bottom: 7px;
}

.ticket-info {
  width: fit-content;
  background: var(--secondary-color);
  border: 1px solid var(--details-color);
  padding: 1rem 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ticket-products {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ticket-product {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 226px;
}

.ticket-product-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-date {
  color: var(--foreground-color);
  font-size: 12px;
  display: flex;
  justify-content: end;
}

.ticket-total {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  border-top: 1px solid var(--details-color);
  padding-top: 12px;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-label {
  font-weight: 600;
  font-size: 22px;
}
